In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("infringement_dataset_v2.csv")
df

,loan_id,infringed,contract_type,gender,has_own_car,has_own_realty,num_children,annual_income,credit_amount,credit_annuity,...,first_name,last_name,past_avg_amount_annuity,past_avg_amt_application,past_avg_amt_credit,past_loans_approved,past_loans_refused,past_loans_canceled,past_loans_unused,past_loans_total
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,Robert,Watkins,9251.775000,179055.000,179055.00,1.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,Jane,Navarro,56553.990000,435436.500,484191.00,3.0,0.0,0.0,0.0,3.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,David,Seagraves,5357.250000,24282.000,20106.00,1.0,0.0,0.0,0.0,1.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,Deborah,Tandy,23651.175000,272203.260,291695.50,5.0,3.0,1.0,0.0,9.0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,David,Walker,12278.805000,150530.250,166638.75,6.0,0.0,0.0,0.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,Lawrence,Mcwayne,6605.910000,40455.000,40455.00,1.0,0.0,0.0,0.0,1.0
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,Belinda,Loveland,10074.465000,57595.500,56821.50,1.0,0.0,0.0,0.0,1.0
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,Aileen,Rasmussen,4770.405000,24162.750,20625.75,2.0,0.0,0.0,0.0,2.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,Mary,Marbury,10681.132500,121317.750,134439.75,2.0,0.0,0.0,0.0,2.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,Sophia,Murphy,20775.391875,362770.875,424431.00,6.0,0.0,2.0,0.0,8.0

### Selecting the relevant columns to the study:

In [3]:
df = df[['loan_id',
        'infringed', 
        'age', 
        'past_avg_amount_annuity',
        'past_avg_amt_application',
        'past_avg_amt_credit',
        'past_loans_approved',
        'past_loans_refused',
        'past_loans_canceled',
        'past_loans_unused',
        'past_loans_total'
]]

array = df.to_numpy()
df

,loan_id,infringed,age,past_avg_amount_annuity,past_avg_amt_application,past_avg_amt_credit,past_loans_approved,past_loans_refused,past_loans_canceled,past_loans_unused,past_loans_total
0,100002,1,25,9251.775000,179055.000,179055.00,1.0,0.0,0.0,0.0,1.0
1,100003,0,45,56553.990000,435436.500,484191.00,3.0,0.0,0.0,0.0,3.0
2,100004,0,52,5357.250000,24282.000,20106.00,1.0,0.0,0.0,0.0,1.0
3,100006,0,52,23651.175000,272203.260,291695.50,5.0,3.0,1.0,0.0,9.0
4,100007,0,54,12278.805000,150530.250,166638.75,6.0,0.0,0.0,0.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,25,6605.910000,40455.000,40455.00,1.0,0.0,0.0,0.0,1.0
307507,456252,0,56,10074.465000,57595.500,56821.50,1.0,0.0,0.0,0.0,1.0
307508,456253,0,41,4770.405000,24162.750,20625.75,2.0,0.0,0.0,0.0,2.0
307509,456254,1,32,10681.132500,121317.750,134439.75,2.0,0.0,0.0,0.0,2.0
307510,456255,0,46,20775.391875,362770.875,424431.00,6.0,0.0,2.0,0.0,8.0

The loan id is mantained for utility of the dataset (regarding a almost real example). The veracity of the values will be dealt when the model is fitted.

Dataframe metadata:

In [44]:
dictionary = {}
it = 0
for col in df.columns:
    if type(array[0][it].item()) == float:
        dictionary[col] = {"type": "numerical", "subtype": "float"}
    elif type(array[0][it].item()) == int:
        dictionary[col] = {"type": "numerical", "subtype": "integer"}
    else:
        dictionary[col] = {"type": "categorical"}
    it+=1

# changing some important fields
dictionary["loan_id"] = {"type": "id", "subtype": "integer"}
dictionary["infringed"] = {"type": "categorical"}
dictionary["age"] = {"type": "numerical", "subtype": "integer"}
metadata = {"primary_key": "loan_id", "fields": dictionary}

print(metadata)

{'primary_key': 'loan_id', 'fields': {'loan_id': {'type': 'id', 'subtype': 'integer'}, 'infringed': {'type': 'categorical'}, 'age': {'type': 'numerical', 'subtype': 'integer'}, 'past_avg_amount_annuity': {'type': 'numerical', 'subtype': 'float'}, 'past_avg_amt_application': {'type': 'numerical', 'subtype': 'float'}, 'past_avg_amt_credit': {'type': 'numerical', 'subtype': 'float'}, 'past_loans_approved': {'type': 'numerical', 'subtype': 'float'}, 'past_loans_refused': {'type': 'numerical', 'subtype': 'float'}, 'past_loans_canceled': {'type': 'numerical', 'subtype': 'float'}, 'past_loans_unused': {'type': 'numerical', 'subtype': 'float'}, 'past_loans_total': {'type': 'numerical', 'subtype': 'float'}}}

Remove outliers:

In [37]:
def get_outliers(array):
    outliers=[]
    ind=[]
    
    
    q1 = np.nanquantile(array, 0.25, axis=0)
    q3 = np.nanquantile(array, 0.75, axis=0)
    
    iqr = q3-q1
    upper_bound = q3+(1.5*iqr)
    lower_bound = q1-(1.5*iqr)

    print(array[:,0].shape, type(lower_bound[0]), upper_bound[0])
    for i in range(array.shape[1]):
        arr = (array[:,i] <= lower_bound[i]) | (array[:,i] >= upper_bound[i])
        print(arr)
        outliers.append(array[arr])
        #ind.append(np.where(np.any(arr)))
        ind.append(arr.nonzero())
    
    return outliers, ind

## Trying with different models from de sdv module

In [41]:
from sdv.lite import TabularPreset

model = TabularPreset(name='FAST_ML')
model.fit(df[:100])
tabular_synth = model.sample(100)
tabular_synth

,loan_id,infringed,age,past_avg_amount_annuity,past_avg_amt_application,past_avg_amt_credit,past_loans_approved,past_loans_refused,past_loans_canceled,past_loans_unused,past_loans_total
0,100091,0,56,18346.116317,303629.889194,294679.700806,2.347069,0.000000,0.000000,0.404096,NaN
1,100059,0,68,20236.675268,109194.991453,118557.729314,4.597121,3.124095,3.264159,0.042452,10.923561
2,100092,0,42,11350.925582,230419.512903,249529.483799,2.683328,4.456765,4.100527,0.976897,12.168041
3,100093,0,49,21742.912088,258744.798511,290707.299737,3.805451,1.395042,2.427644,0.262665,7.740790
4,100031,0,39,10978.242503,90219.773851,80495.877588,2.989131,1.023273,4.122675,0.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...
95,100053,0,36,30980.928003,303095.644996,367378.861659,4.610617,1.261470,2.439534,0.767491,9.139375
96,100048,0,30,2144.610000,34865.641619,40751.528695,2.137145,0.000000,1.844282,0.000000,3.152669
97,100037,0,40,NaN,223071.881709,210064.905006,3.024281,1.679674,0.000000,0.000000,3.468834
98,100002,0,21,27124.448315,214011.127506,275057.105866,3.708384,1.640501,4.488088,0.000000,NaN
99,100024,0,43,4889.858523,23667.750000,20106.000000,NaN,0.785420,0.477534,0.000000,8.309644

In [49]:
from sdv.tabular import GaussianCopula

model = GaussianCopula()
model.fit(df[:100])

gcopula_synth = model.sample(100)
gcopula_synth

,loan_id,infringed,age,past_avg_amount_annuity,past_avg_amt_application,past_avg_amt_credit,past_loans_approved,past_loans_refused,past_loans_canceled,past_loans_unused,past_loans_total
0,100011,0,34,24360.0,215830.0,236837.0,4.0,1.0,3.0,0.0,9.0
1,100054,0,34,6410.0,119218.0,151292.0,2.0,2.0,9.0,0.0,11.0
2,100025,0,24,7168.0,83520.0,116813.0,4.0,3.0,7.0,1.0,11.0
3,100103,0,29,7486.0,74067.0,40422.0,2.0,2.0,5.0,0.0,8.0
4,100012,0,66,8853.0,147356.0,79664.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
95,100048,0,44,6967.0,96402.0,133042.0,1.0,1.0,1.0,0.0,2.0
96,100044,0,28,8702.0,190954.0,265647.0,1.0,1.0,0.0,0.0,2.0
97,100027,0,37,17561.0,65959.0,57554.0,2.0,2.0,1.0,0.0,2.0
98,100076,0,27,18594.0,222650.0,261396.0,3.0,5.0,3.0,0.0,5.0
99,100049,1,39,13278.0,59013.0,93727.0,4.0,3.0,3.0,0.0,10.0

# Settling with the GaussianCopula

In [70]:

model = GaussianCopula(
    primary_key = 'loan_id',
    
    # TODO ver isto
    # field_distributions={ 'experience_years': 'gamma'},
    )

model.fit(df)

In [71]:
synth_data = model.sample(df.shape[0])
synth_data

,loan_id,infringed,age,past_avg_amount_annuity,past_avg_amt_application,past_avg_amt_credit,past_loans_approved,past_loans_refused,past_loans_canceled,past_loans_unused,past_loans_total
0,0,0,59,15900.0,381056.0,376038.0,3.0,1.0,1.0,1.0,4.0
1,1,0,39,2260.0,60922.0,57573.0,2.0,1.0,3.0,0.0,5.0
2,2,0,53,19160.0,146704.0,243085.0,3.0,1.0,0.0,0.0,2.0
3,3,1,34,2970.0,55644.0,58769.0,5.0,0.0,1.0,1.0,4.0
4,4,0,44,11931.0,244359.0,253181.0,3.0,2.0,1.0,1.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...
307506,307506,0,36,8584.0,148420.0,100738.0,3.0,1.0,1.0,0.0,6.0
307507,307507,1,59,43306.0,490404.0,656104.0,4.0,1.0,1.0,0.0,4.0
307508,307508,1,32,18852.0,341138.0,356260.0,1.0,1.0,1.0,0.0,3.0
307509,307509,0,49,17190.0,300868.0,285959.0,4.0,2.0,4.0,0.0,9.0
307510,307510,0,57,31281.0,189563.0,201186.0,3.0,1.0,2.0,0.0,8.0

## SDMetrics

Supported by SDV module to give usefull measures of the synthetic data generated

[link to the module](https://docs.sdv.dev/sdmetrics/)

### Quality Report

In [99]:
from sdmetrics.reports.single_table import QualityReport

quality_report = QualityReport()
quality_report.generate(df, synth_data, metadata) # quality report demora mais que a SD?

Creating report: 100%|██████████| 4/4 [00:05<00:00,  1.46s/it]

Overall Quality Score: 93.91%

Properties:
Column Shapes: 90.53%
Column Pair Trends: 97.29%

In [100]:
quality_report.get_score()
quality_report.get_properties()

quality_report.get_visualization(property_name='Column Pair Trends')

CorrelationSimilarity measures the correlation between a pair of numerical columns and computes the similarity between the real and synthetic data. As it is directed for numerical continuous values, it will be directed towards the columns that are subjected to the data analysis.

In [101]:
from sdmetrics.column_pairs import CorrelationSimilarity

CorrelationSimilarity.compute(
    real_data=df[['past_avg_amount_annuity', 'past_avg_amt_application']],
    synthetic_data=synth_data[['past_avg_amount_annuity', 'past_avg_amt_application']],
)

0.999699630706768

Calculate whether the synthetic data respects the min/max bounds

In [102]:
from sdmetrics.single_column import BoundaryAdherence

BoundaryAdherence.compute(
    df['age'],
    synth_data['age']
)

1.0

Calculate whether the synthetic data is new or whether it's an exact copy of the real data

In [103]:
from sdmetrics.single_column import RangeCoverage

RangeCoverage.compute(
    real_data=df['age'],
    synthetic_data=synth_data['age']
)

1.0

In [104]:
from sdmetrics.single_column import StatisticSimilarity

StatisticSimilarity.compute(
    real_data=df['age'],
    synthetic_data=synth_data['age'],
    statistic='mean'
)

StatisticSimilarity.compute(
    real_data=df['past_loans_unused'],
    synthetic_data=synth_data['past_loans_unused'],
    statistic='mean'
)

0.9961131324886608

## Executing the data analysis on the generated syntehtic dataset

Function to receive the percentage error:

In [105]:
def percentage_error(orig, est):
  return (abs(np.divide(np.subtract(est, orig), orig))) * 100

Original analysis:

In [106]:
original_count = []
original_count.append(len(df.query('age<30')))
original_count.append(len(df.query('age<40')) - original_count[-1])
original_count.append(len(df.query('age<50')) - original_count[-1])
original_count.append(len(df.query('age<60')) - original_count[-1])
original_count.append(len(df.query('age>=60')))
print(original_count)

[45000, 82299, 121543, 150373, 35595]

In [107]:
sel1 = df[df["infringed"] == 1]
sel2 = df[df["infringed"] == 0]

original_past = []
original_past.append([sel2["past_avg_amount_annuity"].mean(), sel1["past_avg_amount_annuity"].mean()])
original_past.append([sel2["past_avg_amt_application"].mean(), sel1["past_avg_amt_application"].mean()])
original_past.append([sel2["past_avg_amt_credit"].mean(), sel1["past_avg_amt_credit"].mean()])
original_past.append([sel2["past_loans_approved"].mean(), sel1["past_loans_approved"].mean()])
original_past.append([sel2["past_loans_canceled"].mean(), sel1["past_loans_canceled"].mean()])
original_past.append([sel2["past_loans_refused"].mean(), sel1["past_loans_refused"].mean()])
original_past.append([sel2["past_loans_total"].mean(), sel1["past_loans_total"].mean()])
original_past.append([sel2["past_loans_unused"].mean(), sel1["past_loans_unused"].mean()])
print(original_past)

[[14636.327058541274, 13364.183497179574], [155003.88215537314, 142817.25742247657], [170867.81323263212, 161129.7695755352], [3.0644432136281305, 2.8200041937513105], [0.8081672978758438, 1.2345565107989096], [0.8818503660015269, 0.9981128119102537], [4.832645988952592, 5.131474103585657], [0.0781851114470907, 0.07880058712518348]]

Synsthetic analysis:

In [108]:
synth_count = []
synth_count.append(len(synth_data.query('age<30')))
synth_count.append(len(synth_data.query('age<40')) - synth_count[-1])
synth_count.append(len(synth_data.query('age<50')) - synth_count[-1])
synth_count.append(len(synth_data.query('age<60')) - synth_count[-1])
synth_count.append(len(synth_data.query('age>=60')))
print(synth_count)

print(percentage_error(original_count, synth_count))

[43975, 76992, 130663, 143501, 33347]
[2.27777778 6.44843801 7.50351727 4.56996934 6.31549375]

In [109]:
sel1 = synth_data[synth_data["infringed"] == 1]
sel2 = synth_data[synth_data["infringed"] == 0]

synth_past = []
synth_past.append([sel2["past_avg_amount_annuity"].mean(), sel1["past_avg_amount_annuity"].mean()])
synth_past.append([sel2["past_avg_amt_application"].mean(), sel1["past_avg_amt_application"].mean()])
synth_past.append([sel2["past_avg_amt_credit"].mean(), sel1["past_avg_amt_credit"].mean()])
synth_past.append([sel2["past_loans_approved"].mean(), sel1["past_loans_approved"].mean()])
synth_past.append([sel2["past_loans_canceled"].mean(), sel1["past_loans_canceled"].mean()])
synth_past.append([sel2["past_loans_refused"].mean(), sel1["past_loans_refused"].mean()])
synth_past.append([sel2["past_loans_total"].mean(), sel1["past_loans_total"].mean()])
synth_past.append([sel2["past_loans_unused"].mean(), sel1["past_loans_unused"].mean()])
print(synth_past)

print(percentage_error(original_past, synth_past))

[[14579.569264861886, 13899.1773292241], [171180.58756476684, 165381.1142200734], [187086.37003896557, 182534.47184885477], [3.0488122915965614, 2.926795816903823], [1.5008565507009184, 1.6374982855575366], [1.4351834502800986, 1.4620949768558202], [5.419185970923163, 5.476495799759986], [0.14073272483242008, 0.13766972980386777]]
[[ 0.38778714  4.00319131]
 [10.43632275 15.79911084]
 [ 9.49187357 13.28413882]
 [ 0.5100738   3.78693136]
 [85.71112128 32.63858489]
 [62.74682255 46.48594421]
 [12.13703597  6.72363709]
 [79.99939148 74.70647723]]

To save the model (if wanted):

In [110]:
model.save('sd_infringment_model.pkl')