### SDV 
The second package is the SDV , or Synthetic Data Vault, which serves to generate synthetic data based on the given dataset. The generated data can be a single table, multiple tables or time series depending on the need.

The generated data has the same properties and statistics as the original dataset.

SDV generates synthetic data by applying mathematical techniques and machine learning models, such as the deep learning model. Even if the data contains multiple data types and missing data, the SDV will handle them, so we only need to provide the data (and metadata when needed).

[package github](https://github.com/sdv-dev/SDV)

### Gretel Synthetics

This package allows developers to quickly get immersed with synthetic data generation through the use of neural networks. The more complex pieces of working with libraries like Tensorflow and differential privacy are bundled into friendly Python classes and functions. There are two high level modes that can be utilized.

[package e tutoriais](https://github.com/gretelai/gretel-synthetics)

In [2]:
import pandas as pd
#from pathlib import Pathfrom 
#from gretel_synthetics.config import LocalConfig
import pandas as pd

In [17]:
df = pd.read_csv("infringement_dataset_v2.csv")
df

,loan_id,infringed,contract_type,gender,has_own_car,has_own_realty,num_children,annual_income,credit_amount,credit_annuity,...,first_name,last_name,past_avg_amount_annuity,past_avg_amt_application,past_avg_amt_credit,past_loans_approved,past_loans_refused,past_loans_canceled,past_loans_unused,past_loans_total
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,Robert,Watkins,9251.775000,179055.000,179055.00,1.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,Jane,Navarro,56553.990000,435436.500,484191.00,3.0,0.0,0.0,0.0,3.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,David,Seagraves,5357.250000,24282.000,20106.00,1.0,0.0,0.0,0.0,1.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,Deborah,Tandy,23651.175000,272203.260,291695.50,5.0,3.0,1.0,0.0,9.0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,David,Walker,12278.805000,150530.250,166638.75,6.0,0.0,0.0,0.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,Lawrence,Mcwayne,6605.910000,40455.000,40455.00,1.0,0.0,0.0,0.0,1.0
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,Belinda,Loveland,10074.465000,57595.500,56821.50,1.0,0.0,0.0,0.0,1.0
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,Aileen,Rasmussen,4770.405000,24162.750,20625.75,2.0,0.0,0.0,0.0,2.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,Mary,Marbury,10681.132500,121317.750,134439.75,2.0,0.0,0.0,0.0,2.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,Sophia,Murphy,20775.391875,362770.875,424431.00,6.0,0.0,2.0,0.0,8.0

## Trying with different models from de sdv module

In [14]:
from sdv.tabular import GaussianCopula

model = GaussianCopula()
model.fit(df[:100])

synth_data = model.sample(100)
synth_data

/home/eduardo/anaconda3/lib/python3.9/site-packages/copulas/univariate/truncated_gaussian.py:45: RuntimeWarning: invalid value encountered in double_scalars
  a = (self.min - loc) / scale
/home/eduardo/anaconda3/lib/python3.9/site-packages/copulas/univariate/truncated_gaussian.py:46: RuntimeWarning: divide by zero encountered in double_scalars
  b = (self.max - loc) / scale

,loan_id,infringed,contract_type,gender,has_own_car,has_own_realty,num_children,annual_income,credit_amount,credit_annuity,...,first_name,last_name,past_avg_amount_annuity,past_avg_amt_application,past_avg_amt_credit,past_loans_approved,past_loans_refused,past_loans_canceled,past_loans_unused,past_loans_total
0,100104,0,Cash loans,M,N,N,0,203090.677,1035725.0,47757.3,...,Deborah,Matier,5865.0,26778.0,27713.0,2.0,2.0,3.0,0.0,6.0
1,100083,0,Cash loans,F,Y,Y,1,153920.311,269019.0,28624.6,...,Kathy,Holmes,5259.0,109207.0,108816.0,1.0,2.0,1.0,0.0,3.0
2,100052,0,Cash loans,M,Y,Y,1,383459.560,1277789.0,54837.9,...,Robert,Watkins,27219.0,395296.0,327756.0,3.0,1.0,8.0,0.0,9.0
3,100078,0,Cash loans,F,N,Y,1,255987.191,883579.0,38687.1,...,Ralph,Luzar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100068,0,Cash loans,F,N,Y,0,255550.850,353656.0,13048.2,...,Merle,Lovell,33543.0,338322.0,371962.0,4.0,1.0,1.0,0.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,100011,0,Cash loans,M,N,Y,1,184674.672,563801.0,36269.9,...,Kimberly,Navarro,37468.0,319303.0,420685.0,7.0,1.0,3.0,0.0,12.0
96,100049,0,Cash loans,F,N,Y,0,73762.507,480690.0,24177.3,...,Jerry,Keith,13644.0,117337.0,153664.0,5.0,2.0,1.0,0.0,7.0
97,100064,0,Cash loans,F,N,Y,0,178990.263,714125.0,32864.4,...,Louise,Stanton,8626.0,41644.0,33244.0,3.0,2.0,0.0,0.0,6.0
98,100090,0,Cash loans,F,N,Y,1,103165.304,455969.0,18813.0,...,Gerald,Gay,9393.0,134339.0,101841.0,4.0,3.0,4.0,1.0,9.0
99,100049,0,Cash loans,M,N,Y,0,65955.817,419935.0,10565.4,...,Chloe,Burroughs,20576.0,374456.0,277846.0,2.0,2.0,3.0,0.0,3.0

In [18]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import RobustScaler

#Get the names of the features
df_cols = list(df.columns[df.columns != 'loan_id'])

#Create a Pipeline object with a scaler function in it
quan_pipeline = Pipeline([
    ('quan_scaler', RobustScaler())
])

#scaling the data
processed_data = df.copy()
processed_data[df_cols] = quan_pipeline.fit_transform(df[df_cols])

ValueError: could not convert string to float: 'Cash loans'

In [6]:
from sdv.tabular import GaussianCopula

model = GaussianCopula()
model.fit(df)

synth_data = model.sample(df.shape[])

KeyboardInterrupt:

## SDM metrics

Supported by SDV module and usefull to measure the synthetic data quality

[link to the module](https://docs.sdv.dev/sdmetrics/)

In [ ]:
from sdmetrics.reports.single_table import QualityReport