### SDV 
The second package is the SDV , or Synthetic Data Vault, which serves to generate synthetic data based on the given dataset. The generated data can be a single table, multiple tables or time series depending on the need.

The generated data has the same properties and statistics as the original dataset.

SDV generates synthetic data by applying mathematical techniques and machine learning models, such as the deep learning model. Even if the data contains multiple data types and missing data, the SDV will handle them, so we only need to provide the data (and metadata when needed).

[package github](https://github.com/sdv-dev/SDV)

In [2]:
import pandas as pd
#from pathlib import Pathfrom 
#from gretel_synthetics.config import LocalConfig
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv("infringement_dataset_v2.csv")
array = df.to_numpy()

df["income_type"]

0                      Working
1                State servant
2                      Working
3                      Working
4                      Working
                  ...
307506                 Working
307507               Pensioner
307508                 Working
307509    Commercial associate
307510    Commercial associate
Name: income_type, Length: 307511, dtype: object

Dataframe metadata:

In [4]:
type(df.columns)

dict = {}
it = 0
for col in df.columns:
    if type(array[0][it]) == float:
        dict[col] = {"type": "numerical", "subtype": "float"}
    elif type(array[0][it]) == int:
        dict[col] = {"type": "numerical", "subtype": "int"}
    else:
        dict[col] = {"type": "categorical"}
    it+=1

metadata = {"fields": dict}

print(metadata)

{'fields': {'loan_id': {'type': 'numerical', 'subtype': 'int'}, 'infringed': {'type': 'numerical', 'subtype': 'int'}, 'contract_type': {'type': 'categorical'}, 'gender': {'type': 'categorical'}, 'has_own_car': {'type': 'categorical'}, 'has_own_realty': {'type': 'categorical'}, 'num_children': {'type': 'numerical', 'subtype': 'int'}, 'annual_income': {'type': 'numerical', 'subtype': 'float'}, 'credit_amount': {'type': 'numerical', 'subtype': 'float'}, 'credit_annuity': {'type': 'numerical', 'subtype': 'float'}, 'goods_valuation': {'type': 'numerical', 'subtype': 'float'}, 'income_type': {'type': 'categorical'}, 'education': {'type': 'categorical'}, 'family_status': {'type': 'categorical'}, 'housing_type': {'type': 'categorical'}, 'age': {'type': 'numerical', 'subtype': 'int'}, 'days_employed': {'type': 'numerical', 'subtype': 'int'}, 'car_age': {'type': 'numerical', 'subtype': 'float'}, 'provided_mobilephone': {'type': 'numerical', 'subtype': 'int'}, 'provided_workphone': {'type': 'numerical', 'subtype': 'int'}, 'provided_homephone': {'type': 'numerical', 'subtype': 'int'}, 'mobilephone_reachable': {'type': 'numerical', 'subtype': 'int'}, 'provided_email': {'type': 'numerical', 'subtype': 'int'}, 'occupation_type': {'type': 'categorical'}, 'num_family_members': {'type': 'numerical', 'subtype': 'float'}, 'region_rating': {'type': 'numerical', 'subtype': 'int'}, 'organization_type': {'type': 'categorical'}, 'score_ext_1': {'type': 'numerical', 'subtype': 'float'}, 'score_ext_2': {'type': 'numerical', 'subtype': 'float'}, 'score_ext_3': {'type': 'numerical', 'subtype': 'float'}, 'num_req_bureau_hour': {'type': 'numerical', 'subtype': 'float'}, 'num_req_bureau_day': {'type': 'numerical', 'subtype': 'float'}, 'num_req_bureau_week': {'type': 'numerical', 'subtype': 'float'}, 'num_req_bureau_month': {'type': 'numerical', 'subtype': 'float'}, 'num_req_bureau_qrt': {'type': 'numerical', 'subtype': 'float'}, 'num_req_bureau_year': {'type': 'numerical', 'subtype': 'float'}, 'first_name': {'type': 'categorical'}, 'last_name': {'type': 'categorical'}, 'past_avg_amount_annuity': {'type': 'numerical', 'subtype': 'float'}, 'past_avg_amt_application': {'type': 'numerical', 'subtype': 'float'}, 'past_avg_amt_credit': {'type': 'numerical', 'subtype': 'float'}, 'past_loans_approved': {'type': 'numerical', 'subtype': 'float'}, 'past_loans_refused': {'type': 'numerical', 'subtype': 'float'}, 'past_loans_canceled': {'type': 'numerical', 'subtype': 'float'}, 'past_loans_unused': {'type': 'numerical', 'subtype': 'float'}, 'past_loans_total': {'type': 'numerical', 'subtype': 'float'}}}

## Trying with different models from de sdv module

In [5]:
from sdv.lite import TabularPreset

model = TabularPreset(name='FAST_ML')
model.fit(df[:100])
tabular_synth = model.sample(100)
tabular_synth

,loan_id,infringed,contract_type,gender,has_own_car,has_own_realty,num_children,annual_income,credit_amount,credit_annuity,...,first_name,last_name,past_avg_amount_annuity,past_avg_amt_application,past_avg_amt_credit,past_loans_approved,past_loans_refused,past_loans_canceled,past_loans_unused,past_loans_total
0,100060,0,Cash loans,F,N,Y,1,241922.306217,8.730934e+05,38321.573603,...,Mark,Reagan,NaN,27743.863530,42208.396753,2.322161,0.222291,0.000000,0.219012,1.205381
1,100106,0,Cash loans,F,Y,Y,1,301355.920726,1.074313e+06,35847.911421,...,Kimberly,Hazel,25564.053892,322518.945398,NaN,5.079145,0.000000,4.842266,0.376960,NaN
2,100002,0,Cash loans,M,Y,Y,1,152402.999124,8.175983e+05,32015.876532,...,Flora,Tandy,16491.974708,84952.703260,77984.559595,NaN,0.000000,0.000000,0.163898,1.000000
3,100091,0,Cash loans,F,Y,N,0,299662.238648,7.375374e+05,34469.019788,...,Sandra,Tamulis,21980.528575,344237.066673,337452.440773,1.000000,0.000000,4.609810,0.000000,4.075816
4,100062,0,Cash loans,F,N,Y,0,73974.885482,7.880299e+05,36793.218958,...,Dorothy,Heiskell,13586.917108,40974.415788,78377.554938,2.609764,NaN,0.000000,0.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,100082,0,Cash loans,M,Y,Y,1,181038.301922,8.086500e+04,10791.874639,...,Robert,Savini,2144.610000,23667.750000,20106.000000,2.882646,0.826211,1.989286,0.000000,5.613143
96,100096,0,Cash loans,M,N,N,0,60022.674060,2.785702e+05,7753.665595,...,David,Gay,NaN,232235.670477,215001.485487,2.386258,NaN,1.647551,0.147404,NaN
97,100080,0,Cash loans,M,N,Y,0,317130.615782,7.621570e+05,35788.845542,...,Deborah,Davis,36795.246916,535680.811782,577444.986728,5.559257,2.831500,6.373479,0.311127,NaN
98,100045,0,Cash loans,F,N,Y,0,256702.461495,1.196796e+06,39472.366298,...,Maria,Rosenthal,34628.748851,265316.113007,267049.067797,2.173244,4.130381,8.558392,0.000000,NaN
99,100081,0,Cash loans,F,N,Y,1,192012.095323,7.311657e+05,29783.526085,...,Deborah,Anderson,19524.707965,224570.615995,239956.203083,1.914705,1.840956,2.471102,0.552812,6.793832

In [7]:
from sdv.tabular import GaussianCopula

model = GaussianCopula()
model.fit(df[:100])

gcopula_synth = model.sample(100)
gcopula_synth

,loan_id,infringed,contract_type,gender,has_own_car,has_own_realty,num_children,annual_income,credit_amount,credit_annuity,...,first_name,last_name,past_avg_amount_annuity,past_avg_amt_application,past_avg_amt_credit,past_loans_approved,past_loans_refused,past_loans_canceled,past_loans_unused,past_loans_total
0,100079,0,Cash loans,M,Y,Y,0,87665.607,796662.0,20175.5,...,Clara,Walker,25864.0,457036.0,443503.0,4.0,1.0,9.0,0.0,8.0
1,100018,0,Cash loans,M,N,Y,0,99730.779,541726.0,32673.3,...,Ralph,Robles,31727.0,321430.0,339896.0,7.0,1.0,1.0,0.0,8.0
2,100039,0,Cash loans,M,N,Y,1,224312.975,638367.0,27995.4,...,Arthur,Crawford,22213.0,303548.0,308782.0,2.0,1.0,3.0,0.0,5.0
3,100014,0,Cash loans,M,N,Y,1,228178.549,1092522.0,33782.9,...,Henry,Robles,16134.0,166252.0,170167.0,1.0,0.0,0.0,0.0,1.0
4,100091,0,Cash loans,M,Y,N,0,242939.916,1363550.0,45723.1,...,Annette,Villalobos,30581.0,299338.0,294660.0,1.0,3.0,2.0,0.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,100098,0,Cash loans,M,N,Y,0,208061.229,749488.0,43325.4,...,Tammy,Taylor,5321.0,90308.0,110254.0,1.0,2.0,1.0,0.0,1.0
96,100050,0,Cash loans,M,N,Y,0,242675.089,493745.0,21548.6,...,Lorene,Stanton,18758.0,339971.0,340710.0,2.0,1.0,1.0,0.0,2.0
97,100003,0,Cash loans,F,N,Y,2,211859.651,1342340.0,47091.3,...,Albert,Wolfe,17979.0,154088.0,190253.0,2.0,1.0,4.0,0.0,10.0
98,100015,0,Cash loans,M,Y,N,1,271127.910,962566.0,53069.9,...,Lenna,Hazel,28988.0,296747.0,331553.0,2.0,0.0,5.0,0.0,4.0
99,100093,0,Cash loans,F,N,Y,1,95685.000,376165.0,20580.6,...,Chloe,Ridling,4088.0,61871.0,57513.0,2.0,1.0,4.0,0.0,7.0

# Settling in the sdv.tabular.GassianCopula

In [8]:
from sdv.tabular import GaussianCopula

gc_model = GaussianCopula()
gc_model.fit(df)

synth_data = model.sample(df.shape[0])

## SDMetrics

Supported by SDV module to give usefull measures of the synthetic data generated

[link to the module](https://docs.sdv.dev/sdmetrics/)

### Quality Report

In [10]:
from sdmetrics.reports.single_table import QualityReport

quality_report = QualityReport()
quality_report.generate(df, synth_data, metadata) # quality report demora mais que a SD?

Creating report: 100%|██████████| 4/4 [1:55:01<00:00, 1725.29s/it]

KeyboardInterrupt:

In [14]:
quality_report.get_score()
quality_report.get_properties()

quality_report.get_visualization(property_name='Column Pair Trends')

#fig = quality_report.get_visualization(property_name='age')
#fig.show()

UnboundLocalError: local variable 'fig' referenced before assignment

CorrelationSimilarity measures the correlation between a pair of numerical columns and computes the similarity between the real and synthetic data. As it is directed for numerical continuous values, it will be directed towards the columns that are subjected to the data analysis.

In [16]:
from sdmetrics.column_pairs import CorrelationSimilarity

CorrelationSimilarity.compute(
    real_data=df[['past_avg_amount_annuity', 'past_avg_amt_application']],
    synthetic_data=synth_data[['past_avg_amount_annuity', 'past_avg_amt_application']],
    coefficient='Pearson'
)

0.9637743530981878

### Diagnostic Report

In [ ]:
from sdmetrics.reports.single_table import DiagnosticReport

diagnostic_report = DiagnosticReport()
diagnostic_report.generate(df, synth_data, metadata)

diagnostic_report.get_score()
diagnostic_report.get_results()

In [ ]:
from sdmetrics.single_table import NewRowSynthesis

NewRowSynthesis.compute(
    real_data=df,
    synthetic_data=synth_data,
    metadata=metadata,
    numerical_match_tolerance=0.01,
    synthetic_sample_size=10_000
)

To save the model (if wanted):

In [ ]:
gc_model.save('sd_infringment_model.pkl')